@import './assets/queries.css';
/* @import './assets/theme.dark.css';
@import './assets/theme.light.css'; */

body {
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

.App {
  height: 100%;
  display: grid;
  grid-template-rows: minmax(3rem, max-content) 1fr minmax(1rem, max-content);
}

header {
  padding: 0 1rem;

  display: flex;
  justify-content: space-between;

  & h1 {
    line-height: 3rem;
  }

  & h1,
  & h1 button {
    font-weight: bold;
    letter-spacing: 2px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }

  & h1 button[disabled] {
    cursor: default;
  }

  & h1 span {
    margin-right: 0.75rem;
    display: inline-block;
  }

  & button {
    appearance: none;

    background-color: transparent;
    border-radius: 0;
    padding: 0 0.5rem;
  }

  & .buttons-wrap {
    display: flex;

    & button {
      min-width: 2.5rem;
      padding: 0;
    }

    & iconify-icon {
      border-radius: 0.25rem;
      padding: 0.25rem;
      animation: slide 0.2s ease-in-out;
    }
  }
}

@media screen and (max-width: 320px) {
  .buttons-wrap {
    flex-direction: column;
  }
}

@keyframes slide {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

main {
  overflow-y: scroll;

  &.split {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: max-content;
  }

  & > div > * {
    width: 100%;
    min-height: 100%;

    padding: 1rem;

    overflow: hidden;
    word-break: break-all;

    line-height: 1.5rem;
  }

  & #editor {
    appearance: none;
    resize: none;
    border: none;
    outline: none;

    background-color: transparent;
    color: inherit;
  }
}

footer {
  padding: 0.25rem 1rem;
  font-size: 0.75rem;
}
